<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= 'To do app ' %></h1>
    </div>

    <div class="box" >

        <% globalarray.forEach(function(el, index) { let done ; if(el.status){done="done"}else{done="not done"}  %>
           
            <div class="item">
                <div><%= done %></div>
                <h2><%= el.title %></h2>
                <p><%= el.description%></p>
            </div>
           
             
         <%});     %>

         <form class="item" action="/insert" method="post">
            <input type="text" name="title" id="input" placeholder="New item" autocomplete="off"> <br/>
            <input type="text" name="description" id="input" placeholder="description" autocomplete="off">  
            <button type="submit" id="submit" name="submit" value=<%= 'nothing' %> >+</button>
        </form>

    </div>


    <%- include("footer") -%>