<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= 'To do app ' %></h1>
    </div>

    <div class="box" >
        <div class="update_task"> 
            <form action="/updatetitle" method="POST">
                <input class="updin" type="text" name="id" id="" placeholder="id">
                <input class="updin" type="text" name="updatetitle" placeholder="title">
                <input class="updin" type="text" name="updatedesc" id="" placeholder="descripiton">
                <button class="update_button"  type="submit"> update </button>
            </form>

        </div>
        <% globalarray.forEach(function(el, index) { let done ; if(el.status){done="done"}else{done="not done"}  %>
           
            <div class="item">
              <div class ="upside" >  <div ><% if(el.status){ %> <input type="checkbox" checked ><% }else {%><input type="checkbox" ><%} %> <a href="/updatedone/<%=el.id%>">Done</a></div><a href="/delete/<%=el.id %>"> delete </a></div>
                <h2><%= el.title %></h2>
                <p><%= el.description%></p>
            </div>
           
             
         <%});     %>

         <form class="item" action="/insert" method="post">
            <input type="text" name="title" id="input" placeholder="New item" autocomplete="off"> <br/>
            <input type="text" name="description" id="input" placeholder="description" autocomplete="off">  
            <button type="submit" class="submitb" id="submit" name="submit" value=<%= 'nothing' %> >+</button>
        </form>

    </div>


    <%- include("footer") -%>